body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1fb5a6;
}
.speech_to_text{
    text-align: center;
}
h1{
    font-size:60px;
    color: #fff;
    text-align: center;
}
#text{
    height: 200px;
    width: 800px;
    display: block;
    border: none;
    border-radius: 10px;
    outline: #1fb5a6;
    font-size: 18px;
    font-weight: 500;
}

.btn{
    height: 40px;
    width: 120px;
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    color: #1fb5a6;
    font-size: 18px;
}